@mixin gradient-back {
  background-image: linear-gradient(180deg,#00a0ee,#3668ff 50%);
  background-color: #3668ff;
  background-repeat: no-repeat;
}
@mixin row-flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@mixin col-flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .upgrade {
    visibility: hidden;
  }
}
@media screen and (max-width: 500px) {
  .nav-wrapper {
    flex-wrap: wrap;
    input {
      width: 300px;
    }
  }
}

::placeholder {
  color: white;
  opacity: 1;
}
body {
  @include gradient-back;
}
#createStation {
  height: 45px;
  float: left;
  margin-left: 15%;
  flex-basis: 2;
}
.now-playing {
  max-width: 150px;
}
.upgrade {
  max-width: 300px;
}
.my-stations {
  max-width: 150px;
}
.nav-wrapper {
  @include row-flex;
.create-station{
  opacity: 7;
  input {
    color: white;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 35px;
    border: none;
    background-color: rgba(255, 255, 255, .5);
    margin-right:150px;
  }
}

h1 {
  font-size: 18px;
  color: white;
  font-family: helvetica;
  font-weight: lighter;
  padding-left: 2px;
  }
}

.mini-info-bar {
  box-sizing: border-box;
  height: 75px;
}
.main-content {
  @include row-flex;
  justify-content: flex-start;
  padding-left: 50px;
}
.thumbnails {
  padding-top: 100px;
  @include col-flex;
  width: 100px;
  .thumb{
    padding:10px;
    @include col-flex;
    img {
      max-width: 80px;
      float:left;
    }
  }
}
.image-details {
    padding-top: 100px;
  @include col-flex;
  p {
    visibility: visible;
  }
}
.current-album {
  @include col-flex;
  padding-left: 10%;
  padding-top: 10%;
  img{
    width:75%;
  }
}
