$blue: teal;
$fc: white;
$faded: .7;
//variables
@mixin main-font {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

@mixin gradient-back {
  background-image: linear-gradient(180deg,#00a0ee,#3668ff 50%);
  background-color: #3668ff;
  background-repeat: no-repeat;
}

@mixin row-flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin col-flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
//mixins

@media screen and (max-width: 750px) {
  .upgrade {
    visibility: hidden;
    display : none;
  }
  .pandora {
    display:none;
    visibility: hidden;
  }
}

@media screen and (max-width: 500px) {
  .nav-wrapper {
    flex-wrap: wrap;
    input {
      width: 300px;
    }
  }
}

@media screen and (max-height: 350px) , (max-width:360px) {
  .mini-info-bar {
    background-color: $blue;
    height: 10px;
  }
  .main-content {
    order: 3;
    max-height: 0;
    overflow: none;
    visibility: collapse;
  }
}
//media settings

body {
  @include gradient-back;
  @include main-font;
  color: $fc;
  overflow:auto;
}

.wrapper {
  @include col-flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;;
}

.nav-wrapper {
  @include col-flex;
  display: flex;
  max-width: 90vw;
  margin-left: 5vw;
  div {
    max-width: 15%;
    width: 100%;
  }
}

::placeholder {
  color: white;
  opacity: 1;
}

.now-playing {
  text-decoration: underline;
}

.my-stations {
  opacity: $faded;
}

.create-station {
  input {
    color: white;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 35px;
    border: none;
    background-color: rgba(255, 255, 255, .3);
    margin-right:150px;
    flex-basis: 2;
  }
}

.pandora {
  opacity: $faded;
  margin-left: 1rem;
}

.upgrade {
  height: 1.6rem;
  margin-left: 1em;
  margin-right: 1em;
  span {
    color: darkblue;
    font-weight: bold;
  }
  button {
    height: 100%;
  }
}

.nav-wrapper {
  @include row-flex;
  h1 {
    font-size: 18px;
    color: white;
    font-family: helvetica;
    font-weight: lighter;
  }
}

.mini-info-bar {
  box-sizing: border-box;
  height: 5px;
}

.main-content {
  @include row-flex;
  justify-content: flex-start;
  padding-left: 3rem;
  max-height: 100%;
}

.thumbholder {
  @include col-flex;
  padding-top: 12vh;
  height: 20%;
  width: 15vw;
  padding-bottom: 10px;
  .thumb{
    max-height: 100px;
    padding: 5px 0 5px 0;
    img {
      @include col-flex;
      height: 100%;
    }
  }
}

.current-album {
  display: flex;
  margin-left: 5vw;
  margin-top: 13vh;
  width: 30vw;
  padding-left: 8vw;
  padding-bottom: 10px;
  padding-top: 1em;
  img {
    width:100%;
    margin: auto;
  }
}

.player {
  display: flex;
  margin: auto;
  height: 30px;
  background: inherit;
  margin-top: -10px;
  img {
    height: 100%;
  }
}
